
* {
  outline: 2px dotted red;
}
* * {
  outline: 2px dotted green;
}
* * * {
  outline: 2px dotted orange;
}
* * * * {
  outline: 2px dotted blue;
}
* * * * * {
  outline: 1px solid red;
}
* * * * * * {
  outline: 1px solid green;
}
* * * * * * * {
  outline: 1px solid orange;
}
* * * * * * * * {
  outline: 1px solid blue;
}

* {
  box-sizing: border-box;
}

.body {
  display: grid;
  grid-template-rows: 4, 1fr;
}
.header{
  display: grid;
  grid-template-columns: 7, 1fr;
}

.buttonheader {
  grid-template-columns: 1 / 2, 1fr;
}

.imgheader{
  grid-template-columns: 2 / 3, 1fr;
}

.headernom{
  grid-template-columns: 3 / 4, 1fr;
}

/* HERO */

.hero h1 {
  font-size: 50px;
}

