@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=My+Soul&family=Oleo+Script&family=Russo+One&display=swap');


:root {
  --espace: 1em;
  --special-font: "Merriweather", serif;
  --special-font-titre: "Oleo Script", cursive;
  --special-font-sous-titre: "Russo One", sans-serif;
}

p{font-family: var(--special-font);}

h1{
  font-family: var(--special-font-titre);
}

h3{font-family: 'My Soul', cursive;
font-size: x-large;
}

.nav_principale{
  font-family: var(--special-font-sous-titre);
  font-size: larger;
}

* {
  outline: 2px dotted red;
}
* * {
  outline: 2px dotted green;
}
* * * {
  outline: 2px dotted orange;
}
* * * * {
  outline: 2px dotted blue;
}
* * * * * {
  outline: 1px solid red;
}
* * * * * * {
  outline: 1px solid green;
}
* * * * * * * {
  outline: 1px solid orange;
}
* * * * * * * * {
  outline: 1px solid blue;
}

a:hover {
  color: goldenrod;
  background-color: transparent;
  text-decoration: underline;
}



body {
  margin: 0;
  padding: 0%;
}


header {
  background-color: darkslategrey;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--espace);
  padding-right: var(--espace);
  align-items: center;
}

header a{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.buttons_header {
  display: flex;
  flex-direction: row;
}

.logonom_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 397px;
}

.navheader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  list-style-type: none;
  gap: 30px;
}

.hero {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgprincipal{
  width:480px;height:420px;
}

.imggauche{
  width:250px;height:200px;
}

.imgdroit{
  width:230px;height:220px;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.infoprincipal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1 {
  font-size: 50px;
}

.img_principales{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:280px;height:220px;
}

.nav_principale{
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;

}

section a{
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.hero_bas_biographie{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_biographie{
  width: 500px; height: 300px;
}

.hero_bas_experiences{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_experiences{
  width: 500px; height: 300px;
}

.hero_bas_realisation{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_realisation{
  width: 500px; height: 300px;
}

.hero_bas_contacter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_contacter{
  width: 500px; height: 300px;
}

.footer{
  background-color: darkslategrey;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--espace);
  padding-right: var(--espace);
  align-items: center;
}

.buttons_footer{
  display: flex;
  flex-direction: row;
}

.logonom_footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.infosite{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  list-style-type: none;
  gap: 30px;
}