
* {
  outline: 2px dotted red;
}
* * {
  outline: 2px dotted green;
}
* * * {
  outline: 2px dotted orange;
}
* * * * {
  outline: 2px dotted blue;
}
* * * * * {
  outline: 1px solid red;
}
* * * * * * {
  outline: 1px solid green;
}
* * * * * * * {
  outline: 1px solid orange;
}
* * * * * * * * {
  outline: 1px solid blue;
}

* {
  box-sizing: border-box;
}

header {
  display: flex; 
  justify-content: space-evenly;
}

.sectionsheader {
  display: flex; 
  justify-content: space-evenly;
  gap: 5em;
  }

nav {
  display: inline-block;
}

nav ul {
  list-style: none;
  list-style-type: none;
}

.logonom{
  display:flex;
  gap:1em;
}




/* HERO */

.hero h1 {
  font-size: 50px;
}
